extends layout

block content
  div.container
    div.row
      img.center-block(src='/images/title.png' height='50' width='500')
      hr
      p.lead This app does not access any of your information. It simply provides you with a means to randomly change the text content of a status update and gives you the option to post to your wall.
      a(href='/' class='btn btn-default') Try it!