extends layout

block content
  div.container
    div.row
      img.center-block(src='/images/title.png' height='50' width='500')
    h2.text-center It's not excruciating unless you share it with your snakehead-fish.
    a(href='/auth/facebook')
      img.center-block(src='/images/facebook.png' height='50' width='50')